:root {
    --background-color: rgb(253, 190, 190);
    --text-color: rgb(48, 29, 29);
  }


  body {
    background-color: var(--background-color);
    background-image: url("C:\Users\Pc\Desktop\CV\image\forests.png");
    color: var(--text-color);
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    border-left-width: 0cm;
    vertical-align:baseline;
    text-indent: 0%;
    padding: 25px;
    background-image: url("C:\Users\Pc\Desktop\CV\image\forests.png");
    background-color: bisque;
    color: black;
    font-size: 10px;
  }


  .dark-mode {
    background-color: rgb(34, 44, 54);
    color: rgb(133, 197, 197);}
  [data-theme="dark"] {
    --background-color: #3b3b3b;
    --text-color: rgb(103, 180, 204);
  }


  h1 {
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--ecriture);
    border-width:1px 1px 1px 1px;
    border-style:dotted;
    border-color:rgb(29, 4, 23) rgb(29, 4, 23);
    border-radius: 10px 10px;
    border-left-width: 0ch;
    padding:0 10px;
    text-align: center;
    text-indent: 0%;
      }


  img {border-radius: 50%;}
  .prof{font-style:normal; font-size: 150%;}
  button:hover {
    background-color: rgb(20, 20, 24);
  }

  
  button{font-size: xx-small; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin:3px; border-radius: 12px; background-color: rgb(85, 83, 81); color:#fff; border: 1px solid #fff; text-align: center;}
